In [2]:
import pandas as pd

In [3]:
pd.read_csv('AAA_metrics_lane.csv')

      step laneID  WaitingTime          CO2
0       30   -5_2          7.0  2624.722222
1       30   -1_0          0.0  4692.833636
2       30   -2_0          0.0  2541.539205
3       30   -5_1          0.0     0.000000
4       30   -6_1          0.0     0.000000
...    ...    ...          ...          ...
3355  1680    5_2          0.0     0.000000
3356  1680   -9_0          0.0     0.000000
3357  1680    3_0          0.0     0.000000
3358  1680   -3_0          0.0     0.000000
3359  1680    6_0          0.0     0.000000

[3360 rows x 4 columns]