In [2]:
import pandas as pd

In [5]:
lane = pd.read_csv('AAA_metrics_lane.csv')
lane.head()

   step laneID  WaitingTime          CO2
0    30    4_2          0.0     0.000000
1    30    4_0          0.0     0.000000
2    30    8_2          0.0     0.000000
3    30   -5_2          7.0  2624.722222
4    30    7_2          0.0     0.000000

In [6]:
vehicle = pd.read_csv('AAA_metrics_veh.csv')
vehicle.head()

   step  TimeLoss  AccumulatedWaitingTime30    0  17.75425575788494  12.0
0    30        10                 13.153120  5.0                NaN   NaN
1    30        11                 14.011005  7.0                NaN   NaN
2    30        15                 10.401284  4.0                NaN   NaN
3    30        16                  8.379678  4.0                NaN   NaN
4    30        17                 11.587989  5.0                NaN   NaN